html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-size: 18px;
  line-height: 1.4;
  color: #1A1A1A;
  background-color: #fff;
  font-family: Onest, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, p, figure {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
}