.booking {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #EBECF1;
  color: #1A1A1A;
  padding: 80px 0;
}

.booking__title {
  font-size: 46px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 50px;
}

.booking__container {
  width: 100%;
}

.booking__fieldset_user-info {
  margin-bottom: 50px;
}

.booking__legend {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 20px;
}

.booking__input-group {
  display: flex;
  gap: 8px;
}

.booking__input {
  display: block;
  max-width: 380px;
  height: 44px;
  width: 100%;
  font-size: 18px;
  line-height: 1.4;
  border: 1px solid transparent;
  border-radius: 8px;
  color: #1A1A1A;
  background-color: #FFF;
  padding: 0 16px;
}

.booking__input::placeholder {
  color: #BABABA;
}

.booking__input:hover {
  background-color: #F9F9F9;
}

.booking__input:focus {
  border-color: #BCBCBC;
  outline: none;
}

.booking__input_valid {
  border-color: #00992B;
}

.booking__input_invalid {
  border-color: #900;
}

.booking__fieldset_games {
  margin-bottom: 122px;
}

.booking__games-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking__game {
  display: flex;
  align-items: center;
}

.booking__select {
  width: 100%;
  height: 44px;
}

.booking__select_game {
  margin-right: 8px;
  max-width: 380px;
}

.booking__select_time {
  max-width: 183px;
  margin-right: 18px;
}

.booking__button {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #1A1A1A;
  padding: 16px 36px;
  border-radius: 36px;
  background-color: #ffc219;
}

.booking__hall {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  padding-right: 32px;
  background: url('../img/qr.svg') right/24px no-repeat;
}

@media (max-width: 1200px) {
  .booking {
    padding: 60px 0;
  }

  .booking__title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .booking__fieldset_user-info {
    margin-bottom: 40px;
  }

  .booking__fieldset_games {
    margin-bottom: 82px;
  }
}

@media (max-width: 768px) {
  .booking__input-group {
    flex-direction: column;
  }

  .booking__input {
    max-width: none;
  }
}

@media (max-width: 680px) {
  .booking {
    padding: 30px 0;
  }

  .booking__title {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .booking__game {
    flex-wrap: wrap;
  }

  .booking__select_game {
    max-width: none;
    margin-right: 0;
    margin-bottom: 8px;
  }
}