.event {
  position: relative;
  display: flex;
  padding: 120px 0;
  width: 100%;
  min-height: 100vh;
  background-image: url('../img/bg.png');
  background-size: cover;
  background-position: center;
  color: #FFF;
  z-index: 1;
}

.event::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(56, 52, 52, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%);
  z-index: -1;
}

.event__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 62px;
  justify-content: center;
}

.event__title {
  font-size: 100px;
  font-weight: 800;
  line-height: 1.2;
}

.event__info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.event__info-item {
  font-size: 30px;
  line-height: 1.4;
}

.event__info-number {
  font-size: 80px;
  font-weight: 800;
  line-height: 1.2;
  margin-right: 8px;
}

.event__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.event__button {
  font-size: 24px;
  line-height: 1.4;
}

.event__button_reserve {
  padding: 16px 36px;
  border-radius: 36px;
  background-color: #ffc119;
  color: #1A1A1A;
}

.event__button_edit {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 8px;
}

@media (max-width: 1200px) {
  .event {
    padding: 110px 0;
  }

  .event__container {
    gap: 45px;
  }

  .event__title {
    font-size: 70px;
  }

  .event__info-item {
    font-size: 24px;
  }

  .event__info {
    gap: 50px;
  }

  .event__info-number {
    font-size: 50px;
  }

  .event__button {
    font-size: 18px;
  }

  .event__buttons {
    gap: 20px;
  }
}

@media (max-width: 680px) {
  .event {
    padding: 80px 0 60px;
  }

  .event__container {
    grid-template-rows: min-content min-content 1fr;
    gap: 8px;
  }

  .event__title {
    font-size: 38px;
  }

  .event__info {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 10px;
  }

  .event__buttons {
    align-self: end;
  }
}