@import 'normalize.css';
@import 'css/fonts.css';
@import "tom-select/dist/css/tom-select.default.css";
@import 'css/base.css';
@import 'css/event.css';
@import 'css/booking.css';
@import 'css/notification.css';